<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body class="home">
    <%- include('./partials/header') %> 
<section class="home__banner d-none d-md-block">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image:url('/images/banner/banner_1.jpg');background-repeat: no-repeat; background-size: 100%; background-position: top center;">
          </div>
          <div class="carousel-item " style="background-image:url('/images/banner/banner_2.jpg');background-repeat: no-repeat; background-size: 100%; background-position: top center;">
        </div>
        <div class="carousel-item " style="background-image:url('/images/banner/banner_3.jpg');background-repeat: no-repeat; background-size: 100%; background-position: top center;">
        </div>
        <div class="carousel-item " style="background-image:url('/images/banner/banner_4.jpg');background-repeat: no-repeat; background-size: 100%; background-position: top center;">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
 <main class="home__main">
    <section class="home__main__section--products general__main__section">
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-01.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/products/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-02.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/products/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-03.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/products/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-01.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/products/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-02.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/products/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-03.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/products/detail">ver más</a>
        </article>
    </section>
    <aside class="home__main__aside">
        <section class="home__main__aside__section--tutoriales">
            <h2>Tutoriales</h2>
            <article>
                <img src="/images/aside-01.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-02.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-03.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-04.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
        </section>
        <section class="home__main__aside__section--publicidad">
            <h2>Publicidad</h2>
            <article>
                    <img src="/images/ad-01.jpg" alt="">
                    <img src="/images/ad-02.jpg" alt="">
            </article>
           
        </section>
    </aside>
 </main>
 <%- include('./partials/scripts') %> 

</body>
</html>