<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head', {
        title : 'Resultado de la búsqueda'
    }) %> 


<body class="result">
    <%- include('./partials/header') %> 

    <main class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-8 mx-auto">
                <section class="card shadow">
                    <div class="card-header">
                        <h4>Resultado de la búsqueda: <%= keywords %></h4>
                    </div>
                    <div class="card-body">
                        <% if (result.length > 0) { %>
                            <ul>
                                <% result.forEach(product => { %>
                                 <li><%= product.title %></li> 
                                <% }) %>
                            </ul>
                        <% }else{ %>
                            <p>No hay resultados 😒</p>
                        <% } %>
                        
                    </div>
                </section>
            </div>
        </div>
      
    </main>
</body>

</html>